[submodule "common"]
	path = common
	url = https://github.com/OpertusMundi/java-commons.git
[submodule "admin-gateway/src/main/frontend"]
	path = admin-gateway/src/main/frontend
	url = https://github.com/OpertusMundi/frontend-admin.git
